.cart-Medicine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #469585;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-Medicine h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #4e958f;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-Medicine button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #283f36;
  border: 1px solid #579f87;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-Medicine button:hover,
.cart-Medicine button:active {
  background-color: #078a6b;
  color: white;
}
